https://www.python-engineer.com/posts/regular-expressions/

In [ ]:
import re

test_stmt = "123abc456789abc123ABC"

In [ ]:
# Match a string like 'abc' in a given sentence

In [ ]:
# compile the regex string

In [ ]:
# The match methods
# finditer

In [ ]:
# findall

In [ ]:
# match # finds only at the beginnin of the sentence

In [ ]:
# search

In [ ]:
# Modification functions like sub and split

In [ ]:
# get the method of the match in the finditer method
# group / start/ end / span

All meta chars 

. : Any char except newline

^ : Starts with  

$ : Ends with

* : Zero or more occurrences

+ : Once or more occurrences

? : 0 or one, may or may not be present

{} : Exactly specified num of occurences

{4} : specifically 4 times repeated

{4, 3} : specifically 4 times repeated

[] : Set of characters  (have one or more chars)

\ : Special or escape existing chars

| : conditions

( ) : Capture the group

In [ ]:
# Experiment with each of the meta chars

More special characters

\d : Matches any Decimal digit [0-9]

\D : Any non-digit character 

\s : Any White Space char including tab, space, newline

\S : non-white space character

\w : matches AlphaNumeric

\W : matches non-Alphanumeric (Spl Chars?)

\b : Specified chars at beginning of block, which follows the white space

\B : Specified chars not at the beginning

In [ ]:
test_string = "Hello hellro 123_ heyoh ohhey"

In [ ]:
# find digits , non-digits, white space, non-white space, alpha numeric, non-alphanumeric, match block start and end

In [ ]:
# set is pattern between a square bracket, each of the chars between [] will be used find

In [1]:
dates = '''
01.04.2020

2020.04.01

2020-04-01
2020-05-23
2020-06-11
2020-07-11
2020-08-11

2020/04/02

2020_04_04
2020_04_04
'''

In [ ]:
# try and extract only 2020-05-11 kind of dates, and work on many examples

In [2]:
my_string = """
Mr Simpson
Mrs Simpson
Mr. Brown
Ms Smith
Mr. T
"""

In [ ]:
# extract only the names

In [ ]:
# using (Mr|Ms|Mrs) is group of conditions using ()

In [3]:
emails = """
pythonengineer@gmail.com
Python-engineer@gmx.de
python-engineer123@my-domain.org
"""

In [ ]:
# group is done with (), group[0] is whole match, while group(0), group(1) etc will be accessed one by one

In [ ]:
# look at split and sub method

test_string = '123abk5558abk565thedabckthedt'

sub_string = "hello world, you are the best world at present"

In [ ]:
# Once group has been selected, it can be back referenced in the sub method using r'\2\1' etc

ASCII: A : matches only ASCII, and does several escapes

DOTALL: S  : match any character, including newline

IGNORECASE: I: Case-insensitive matches

LOCALE: L: Do a locale-aware match.

MultiLine: M: Multi-Line Matching affect ^ and $

Verbose: X : REs are more cleanly organzd

In [4]:
code_string = """can_do: Yes, I can write the code in Python for developing a web-based tic-tac-toe game that allows multiple players to play on PCs. Language: Python ```python # Here is a simple example of a web-based tic-tac-toe game using Flask framework from flask import Flask, render_template, request, jsonify app = Flask(__name__) board = [' ' for _ in range(9)] current_player = 'X' @app.route('/') def index(): return render_template('index.html', board=board, current_player=current_player) @app.route('/make_move', methods=['POST']) def make_move(): global board, current_player position = int(request.form['position']) if board[position] == ' ': board[position] = current_player current_player = 'O' if current_player == 'X' else 'X' return jsonify({'board': board, 'current_player': current_player}) if __name__ == '__main__': app.run(debug=True) ``` This code sets up a basic web-based tic-tac-toe game using the Flask framework in Python. It allows multiple players to play on PCs by updating the game state on the server and rendering it back to the clients."""

In [5]:
message_string = """07/09/2023, 09:51 - +91 79773 46657: RENTAL ROOM HIGHER FLOOR SEAFACE

1RK    225CARPET
 
BACHELOR AND FAMILY ALLOWED

25000/- RENT
1,00,000/- DEPOSIT


NOT NEGOTIABLE


JUHU VERSOVA LINK ROAD
ANDHERI WEST
 
Contact :
7977346657

9324104596
07/09/2023, 09:54 - +91 79773 46657: SHOP RENTAL ROAD TOUCH S.R.A BUILDING   (200FT)  CARPET  WATER CONNECTION AVAILABLE  30,000 RENT  
1,00,000 DEPOSIT  NEGOTIABLE
JUHU VERSOVA LINK ROAD KAPASWADI  ANDHERI WEST
CONTACT:-7977346657
                 :- 9324104596
07/09/2023, 10:00 - +91 98338 63085: Commercial Rental Office
N.C.Kelkar Rd Dadar west
200 carpet, 2 Flr, with wash Basin, 35.000 p.m

Commercial Rental Shop
N.C.Kelkar Rd Dadar west
250 carpet, G/Floor, Road Facing, Selfcontent, Use for,
Clinic, Classes,Office,
50.000 p.m Negotiable

Commercial  Shop Rental
 ShivajiPark
450 carpet, with Water Connection, 18 ft Height
15 ft frontage, G/Flr, Road Facing,  2.75 lk p.m Negotiable

Call- 9833863085
07/09/2023, 10:01 - +91 96194 09991: Lotus Signature in veera desai Andheri West
Full floor 10500 Sq ft Carpet
MT Rs.200/ per square ft
Fully furnished Rs.250/ per square ft on Carpet
One of the finest building in Andheri West
If any one want part will do minimum 2600 square ft Carpet
For full floor 12 car park with full floor
For 2600 sq ft 3 car park with unit
Deposit 6 months
Call for Inspection
Arya properties Mantosh tiwari 9619409991
07/09/2023, 10:17 - +91 98201 27276: Requirement

Looking for a 1500 plus sq feet commercial space for a day care center/ play school

Location - Lokhandwala/ shastri nagar / Link Road / Azad Nagar/ d n nagar / Juhu

Budget - 2.25 lakhs per month

Contact Duran on 9820127276 with your direct listings
07/09/2023, 10:21 - +91 81694 74646: Available offices for RENT
OBEROI GARDENS ESTATE , CHANDIVALI
480 sft to 560 sft built up
RENT STARTING FROM
@30k  to 40k
Un furnished, semi finished,  furnished
( multiple options )
Ronak lifestyle Pvt Ltd
Sunil Gare -8169474646
07/09/2023, 10:21 - +91 81694 74646: FLAT FOR SALE
1 BHK HARMONY @1.10cr
2 BHK ORCHID ,
NAHAR( 2 options )
@1.60 cr
3 BHK KANIKA SILICONE VALLEY
@3.85 cr
3 BHK LAKE PRIMROSE
@ 3.40 cr
3 Bhk LILUM , NAHAR @3.30cr
Ronak lifestyle Pvt Ltd
Sunil Gare - 8169474646
07/09/2023, 10:21 - +91 81694 74646: üî•üî•üî•üî•üî•üî•üî•üî•
Urgently Required   for RESALE
2 BHK Flat
Only  Nahar  YYV
Budget - As Per Market

If any pls call with your direct inventory
Ronak lifestyle Pvt Ltd
Sunil Gare 8169474646
07/09/2023, 10:21 - +91 81694 74646: üîëKEYS AVAILABLE
SHOP FOR SALE
NAHAR AMRIT SHAKTI,
CHANDIVALI
310 carpet
@ 2.90cr
For Inspections call
Ronak lifestyle Pvt Ltd
Sunil Gare - 8169474646
07/09/2023, 10:21 - +91 81694 74646: Flat For Rent
2 Bhk  Hiranandani
Castle Rock  S/F  Flat
@ 1.25
Possession - October

Ronak lifestyle Pvt Ltd
Sunil Gare -8169474646
07/09/2023, 10:22 - +91 82868 67171: <Media omitted>
07/09/2023, 10:22 - +91 82868 67171: <Media omitted>
07/09/2023, 10:27 - +91 81694 74646: FLAT FOR SALE

4 BHK Raheja Vihar
Raheja Vista
beautiful furnish flat Carpet - 1516
Asking price - 5.25 cr negotiable

Ronak lifestyle Pvt Ltd
Sunil Gare - 8169474646
07/09/2023, 10:32 - +91 98338 01940: DIRECT RENTAL PREMIUM SPACIOUS 4BHK WITH SERVANT
3200 CARPET WITH ACS  AND KITCHEN CABINETS
HUGE BALCONY
‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
‚ñ™ RAISKARAN PARTHENON ‚ñ™Ô∏è
4 BUNGALOWS
üî∏ 30L DEP / 5L RENTüî∏
Negotiable
‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
MULTIPLE OPTIONS
HIGH CLASS AMENITIES LIKE SWIMMING POOL, GYM, CLUB HOUSE, KIDS PLAY AREA, ETC
With car park
CLIENT PROFILE REQUIRED
Call for inspection
Mayank 9833801940
07/09/2023, 10:32 - +91 98338 01940: DIRECT RENTAL PREMIUM SPACIOUS 4BHK WITH WITH BALCONY
2850 CARPET WITH ACS, WARDROBES & KITCHEN CABINETS
NEWLY DONE UP
‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
‚ñ™ BAY VIEW ‚ñ™Ô∏è
JUHU VERSOVA LINK RD
üî∏ 30L DEP / 5L RENTüî∏
‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
MULTIPLE OPTIONS
HIGH CLASS AMENITIES LIKE SWIMMING POOL, GYM, CLUB HOUSE, KIDS PLAY AREA, ETC
With car park
CLIENT PROFILE REQUIRED
Call for inspection
Mayank 9833801940
07/09/2023, 10:32 - +91 98338 01940: DIRECT RENTAL 3BHK
SEMI FURNISHED
NEWLY DONE UP FLAT
‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
‚ñ™ NATASHA TOWER ‚ñ™Ô∏è
JUHU VERSOVA LINK RD

üî∏ 5L Deposit/ 1.5L rentüî∏
‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
With 1 car park
Call for inspection
Mayank 9833801940"."""