In [1]:
#!/usr/bin/env python
import json, openai,requests
import warnings
import os
warnings.filterwarnings('ignore')
import datetime
from time import sleep

In [19]:
openai_org = "org-num"
openai_key = "sk-num"

In [18]:
import tiktoken
import pandas as pd
def num_tokens_from_string(string: str, 
                           encoding_name: str = 'text-davinci-003') -> int:
    """Returns the number of tokens in a text string."""
    encoding = tiktoken.encoding_for_model(encoding_name)
    num_tokens = len(encoding.encode(string))
    return num_tokens

In [17]:
num_tokens_from_string("This is my super prompt from Insight Builder")

8

In [16]:
get_role = input("What role you want me to play: ")

What role you want me to play: Experienced Database Administrator and Programmer

In [4]:
#reading in the dataset after unpacking it from zip file

import shutil
import pandas as pd

shutil.unpack_archive("archive.zip")

In [5]:
with open('AWS_Honeypot_marx-geo.csv','r') as sd:
    data = sd.readlines()

In [6]:
data[0:5]

['datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude,\n',
 '3/3/13 21:53,groucho-oregon,1032051418,TCP,,6000,1433,61.131.218.218,CN,China,Jiangxi Sheng,36,,28.55,115.9333,\n',
 '3/3/13 21:57,groucho-oregon,1347834426,UDP,,5270,5060,80.86.82.58,DE,Germany,,,,51,9,\n',
 '3/3/13 21:58,groucho-oregon,2947856490,TCP,,2489,1080,175.180.184.106,TW,Taiwan,Taipei,,,25.0392,121.525,\n',
 '3/3/13 21:58,groucho-us-east,841842716,UDP,,43235,1900,50.45.128.28,US,United States,Oregon,OR,97124,45.5848,-122.9117,\n']

In [7]:
data[6:11]

['3/3/13 21:58,groucho-tokyo,3323217250,TCP,,32628,2323,198.20.69.98,US,United States,Illinois,IL,60661,41.8825,-87.6441,\n',
 '3/3/13 21:59,groucho-oregon,3730416887,TCP,,6000,1433,222.89.164.247,CN,China,Henan Sheng,41,,34.6836,113.5325,\n',
 '3/3/13 22:07,groucho-singapore,3738622573,TCP,,6000,3306,222.214.218.109,CN,China,Sichuan Sheng,51,,30.6667,104.0667,\n',
 '3/3/13 22:12,groucho-oregon,3683919430,TCP,,6000,1433,219.148.38.70,CN,China,Hebei,13,,39.8897,115.275,\n',
 '3/3/13 22:14,groucho-singapore,1007884304,TCP,,6000,1433,60.19.24.16,CN,China,Liaoning,21,,41.7922,123.4328,\n']

In [8]:
##Version the prompt listing questions

In [8]:
#splitting the dataset for managing the tokens

rng1 = 1
rng2 = rng1 + 55
print(f'before spliting data {rng1} and {rng2}')
data_t = f'{data[0]}+{data[rng1:rng2]}'
#print(data_t)

before spliting data 1 and 56

In [20]:
prompt_made = f"""
dataset={data_t}

Prompt:Refer to the [dataset] and help me do the following
1. Create a Database table for this dataset in Postgres Database
2. I have data in csv format. Provide the commands to load the data 
3. Datamodel the table to 3 normal form and provide the schema
Answer:
"""

In [10]:
print(f'Number of tokens for the dataset is {num_tokens_from_string(prompt_made)}')

Number of tokens for the dataset is 3471

In [21]:
print(prompt_made)

dataset=datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude,
+['3/3/13 21:53,groucho-oregon,1032051418,TCP,,6000,1433,61.131.218.218,CN,China,Jiangxi Sheng,36,,28.55,115.9333,\n', '3/3/13 21:57,groucho-oregon,1347834426,UDP,,5270,5060,80.86.82.58,DE,Germany,,,,51,9,\n', '3/3/13 21:58,groucho-oregon,2947856490,TCP,,2489,1080,175.180.184.106,TW,Taiwan,Taipei,,,25.0392,121.525,\n', '3/3/13 21:58,groucho-us-east,841842716,UDP,,43235,1900,50.45.128.28,US,United States,Oregon,OR,97124,45.5848,-122.9117,\n', '3/3/13 21:58,groucho-singapore,3587648279,TCP,,56577,80,213.215.43.23,FR,France,,,,48.86,2.35,\n', '3/3/13 21:58,groucho-tokyo,3323217250,TCP,,32628,2323,198.20.69.98,US,United States,Illinois,IL,60661,41.8825,-87.6441,\n', '3/3/13 21:59,groucho-oregon,3730416887,TCP,,6000,1433,222.89.164.247,CN,China,Henan Sheng,41,,34.6836,113.5325,\n', '3/3/13 22:07,groucho-singapore,3738622573,TCP,,6000,3306,222.214.218.109,CN,China,Sichuan Sheng,51,,30.6667,104.0667,\n', '3/3/13 22:12,groucho-oregon,3683919430,TCP,,6000,1433,219.148.38.70,CN,China,Hebei,13,,39.8897,115.275,\n', '3/3/13 22:14,groucho-singapore,1007884304,TCP,,6000,1433,60.19.24.16,CN,China,Liaoning,21,,41.7922,123.4328,\n', '3/3/13 22:14,groucho-tokyo,3639889826,TCP,,6000,1433,216.244.79.162,US,United States,Washington,WA,98168,47.4891,-122.2908,\n', '3/3/13 22:20,groucho-oregon,1965603898,TCP,,9907,1433,117.40.188.58,CN,China,Jiangxi Sheng,36,,28.55,115.9333,\n', '3/3/13 22:20,groucho-sa,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,\n', '3/3/13 22:20,zeppo-norcal,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,\n', '3/3/13 22:19,groucho-norcal,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,\n', '3/3/13 22:20,groucho-us-east,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,\n', '3/3/13 22:21,groucho-eu,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,\n', '3/3/13 22:21,groucho-sydney,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,\n', '3/3/13 22:23,groucho-oregon,2382398543,TCP,,6000,1433,142.0.132.79,US,United States,California,CA,94024,37.3495,-122.1163,\n', '3/3/13 22:26,groucho-tokyo,1965603898,TCP,,26180,1433,117.40.188.58,CN,China,Jiangxi Sheng,36,,28.55,115.9333,\n', '3/3/13 22:29,groucho-eu,3683780686,UDP,,54790,5060,219.146.8.78,CN,China,Shandong Sheng,37,,36.6683,116.9972,\n', '3/3/13 22:29,groucho-oregon,840591020,TCP,,2712,23,50.26.102.172,US,United States,Texas,TX,79109,35.1613,-101.879,\n', '3/3/13 22:35,groucho-oregon,2945182618,TCP,,48754,23,175.139.235.154,MY,Malaysia,Selangor,10,,3.0833,101.65,\n', '3/3/13 22:38,groucho-tokyo,621360428,TCP,,45855,5900,37.9.53.44,RU,Russia,St.-Petersburg,SPE,,59.8944,30.2642,\n', '3/3/13 22:40,groucho-tokyo,3305593070,TCP,,3009,445,197.7.88.238,TN,Tunisia,,,,34,9,\n', '3/3/13 22:40,groucho-tokyo,3305593070,TCP,,3009,445,197.7.88.238,TN,Tunisia,,,,34,9,\n', '3/3/13 22:41,groucho-tokyo,3019952728,TCP,,3303,445,180.0.210.88,JP,Japan,Tokyo-to,13,,35.685,139.7514,\n', '3/3/13 22:41,groucho-tokyo,3019952728,TCP,,3303,445,180.0.210.88,JP,Japan,Tokyo-to,13,,35.685,139.7514,\n', '3/3/13 22:42,groucho-oregon,1017977401,TCP,,6000,1433,60.173.26.57,CN,China,Anhui Sheng,34,,31.8639,117.2808,\n', '3/3/13 22:45,groucho-oregon,2917802434,TCP,,6000,3306,173.234.33.194,US,United States,Illinois,IL,60616,41.8471,-87.6248,\n', '3/3/13 22:45,groucho-oregon,2073368071,TCP,,6000,1433,123.149.22.7,CN,China,Henan Sheng,41,,34.6836,113.5325,\n', '3/3/13 22:47,groucho-tokyo,1412364802,TCP,,4042,445,84.46.250.2,LT,Lithuania,,,,56,24,\n', '3/3/13 22:47,groucho-tokyo,1412364802,TCP,,4042,445,84.46.250.2,LT,Lithuania,,,,56,24,\n', '3/3/13 22:48,groucho-oregon,1989170793,TCP,,6000,3306,118.144.86.105,CN,China,Beijing Shi,11,,39.9289,116.3883,\n', '3/3/13 22:48,groucho-singapore,1033070424,TCP,,6000,135,61.147.103.88,CN,China,Jiangsu Sheng,32,,32.0617,118.7778,\n', '3/3/13 22:53,groucho-oregon,1032051418,TCP,,6000,1433,61.131.218.218,CN,China,Jiangxi Sheng,36,,28.55,115.9333,\n', '3/3/13 22:54,groucho-singapore,3702892700,TCP,,6000,1433,220.181.168.156,CN,China,Beijing Shi,11,,39.9289,116.3883,\n', '3/3/13 22:55,groucho-us-east,1729413584,TCP,,4853,445,103.20.193.208,HK,Hong Kong,,,,22.25,114.1667,\n', '3/3/13 22:55,groucho-us-east,1729413584,TCP,,4853,445,103.20.193.208,HK,Hong Kong,,,,22.25,114.1667,\n', '3/3/13 22:55,groucho-us-east,1729413584,TCP,,4853,445,103.20.193.208,HK,Hong Kong,,,,22.25,114.1667,\n', '3/3/13 22:55,groucho-oregon,1017972899,TCP,,6000,8080,60.173.8.163,CN,China,Anhui Sheng,34,,31.8639,117.2808,\n', '3/3/13 22:55,groucho-norcal,3323217250,TCP,,47660,80,198.20.69.98,US,United States,Illinois,IL,60661,41.8825,-87.6441,\n', '3/3/13 22:56,groucho-tokyo,3658882522,TCP,,6000,1433,218.22.29.218,CN,China,Anhui Sheng,34,,31.8639,117.2808,\n', '3/3/13 22:56,groucho-oregon,2009021408,TCP,,6000,1433,119.191.59.224,CN,China,Shandong Sheng,37,,36.6683,116.9972,\n', '3/3/13 22:58,groucho-singapore,1033071474,TCP,,6000,135,61.147.107.114,CN,China,Jiangsu Sheng,32,,32.0617,118.7778,\n', '3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,\n', '3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,\n', '3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,\n', '3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,\n', '3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,\n', '3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,\n', '3/3/13 23:01,groucho-eu,2148114514,ICMP,8,,,128.9.160.82,US,United States,California,CA,90292,33.9777,-118.4351,\n', '3/3/13 23:01,groucho-eu,2148114514,ICMP,8,,,128.9.160.82,US,United States,California,CA,90292,33.9777,-118.4351,\n', '3/3/13 23:02,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,\n', '3/3/13 23:02,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,\n']

Prompt:Refer to the [dataset] and help me do the following
1. Create a Database table for this dataset in Postgres Database
2. I have data in csv format. Provide the commands to load the data
3. Datamodel the table to 3 normal form and provide the schema
Answer:

In [12]:
def chunk_to_df(data_chunk):
    
    start = data_chunk.split('\\n')
    
    clean_step1 = start[0].strip(' \n').replace('=','').replace(f'dataset','')

    clean_step2 = clean_step1.split('\n+[')
    
    header = clean_step2[0]
    row1 = clean_step2[1]
    
    clean_row = []
    for dat in start[1:]:
        clean_row.append(dat.strip(" ',"))
        
    clean_row.insert(0,row1.strip("'"))
    clean_row.insert(0,header)
    
    clean_data_list = [data.split(',') for data in clean_row]
    
    chunk_df = pd.DataFrame(clean_data_list[1:-1],columns=clean_data_list[0])
    
    return chunk_df

In [13]:
chunk_to_df(prompt_made)

,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude,
0,3/3/13 21:53,groucho-oregon,1032051418,TCP,,6000,1433,61.131.218.218,CN,China,Jiangxi Sheng,36,,28.55,115.9333,
1,3/3/13 21:57,groucho-oregon,1347834426,UDP,,5270,5060,80.86.82.58,DE,Germany,,,,51,9,None
2,3/3/13 21:58,groucho-oregon,2947856490,TCP,,2489,1080,175.180.184.106,TW,Taiwan,Taipei,,,25.0392,121.525,None
3,3/3/13 21:58,groucho-us-east,841842716,UDP,,43235,1900,50.45.128.28,US,United States,Oregon,OR,97124,45.5848,-122.9117,None
4,3/3/13 21:58,groucho-singapore,3587648279,TCP,,56577,80,213.215.43.23,FR,France,,,,48.86,2.35,None
5,3/3/13 21:58,groucho-tokyo,3323217250,TCP,,32628,2323,198.20.69.98,US,United States,Illinois,IL,60661,41.8825,-87.6441,None
6,3/3/13 21:59,groucho-oregon,3730416887,TCP,,6000,1433,222.89.164.247,CN,China,Henan Sheng,41,,34.6836,113.5325,None
7,3/3/13 22:07,groucho-singapore,3738622573,TCP,,6000,3306,222.214.218.109,CN,China,Sichuan Sheng,51,,30.6667,104.0667,None
8,3/3/13 22:12,groucho-oregon,3683919430,TCP,,6000,1433,219.148.38.70,CN,China,Hebei,13,,39.8897,115.275,None
9,3/3/13 22:14,groucho-singapore,1007884304,TCP,,6000,1433,60.19.24.16,CN,China,Liaoning,21,,41.7922,123.4328,None
10,3/3/13 22:14,groucho-tokyo,3639889826,TCP,,6000,1433,216.244.79.162,US,United States,Washington,WA,98168,47.4891,-122.2908,None
11,3/3/13 22:20,groucho-oregon,1965603898,TCP,,9907,1433,117.40.188.58,CN,China,Jiangxi Sheng,36,,28.55,115.9333,None
12,3/3/13 22:20,groucho-sa,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,None
13,3/3/13 22:20,zeppo-norcal,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,None
14,3/3/13 22:19,groucho-norcal,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,None
15,3/3/13 22:20,groucho-us-east,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,None
16,3/3/13 22:21,groucho-eu,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,None
17,3/3/13 22:21,groucho-sydney,3672981807,TCP,,33367,22,218.237.65.47,KR,South Korea,Seoul,11,,37.4906,127.02,None
18,3/3/13 22:23,groucho-oregon,2382398543,TCP,,6000,1433,142.0.132.79,US,United States,California,CA,94024,37.3495,-122.1163,None
19,3/3/13 22:26,groucho-tokyo,1965603898,TCP,,26180,1433,117.40.188.58,CN,China,Jiangxi Sheng,36,,28.55,115.9333,None
20,3/3/13 22:29,groucho-eu,3683780686,UDP,,54790,5060,219.146.8.78,CN,China,Shandong Sheng,37,,36.6683,116.9972,None
21,3/3/13 22:29,groucho-oregon,840591020,TCP,,2712,23,50.26.102.172,US,United States,Texas,TX,79109,35.1613,-101.879,None
22,3/3/13 22:35,groucho-oregon,2945182618,TCP,,48754,23,175.139.235.154,MY,Malaysia,Selangor,10,,3.0833,101.65,None
23,3/3/13 22:38,groucho-tokyo,621360428,TCP,,45855,5900,37.9.53.44,RU,Russia,St.-Petersburg,SPE,,59.8944,30.2642,None
24,3/3/13 22:40,groucho-tokyo,3305593070,TCP,,3009,445,197.7.88.238,TN,Tunisia,,,,34,9,None
25,3/3/13 22:40,groucho-tokyo,3305593070,TCP,,3009,445,197.7.88.238,TN,Tunisia,,,,34,9,None
26,3/3/13 22:41,groucho-tokyo,3019952728,TCP,,3303,445,180.0.210.88,JP,Japan,Tokyo-to,13,,35.685,139.7514,None
27,3/3/13 22:41,groucho-tokyo,3019952728,TCP,,3303,445,180.0.210.88,JP,Japan,Tokyo-to,13,,35.685,139.7514,None
28,3/3/13 22:42,groucho-oregon,1017977401,TCP,,6000,1433,60.173.26.57,CN,China,Anhui Sheng,34,,31.8639,117.2808,None
29,3/3/13 22:45,groucho-oregon,2917802434,TCP,,6000,3306,173.234.33.194,US,United States,Illinois,IL,60616,41.8471,-87.6248,None
30,3/3/13 22:45,groucho-oregon,2073368071,TCP,,6000,1433,123.149.22.7,CN,China,Henan Sheng,41,,34.6836,113.5325,None
31,3/3/13 22:47,groucho-tokyo,1412364802,TCP,,4042,445,84.46.250.2,LT,Lithuania,,,,56,24,None
32,3/3/13 22:47,groucho-tokyo,1412364802,TCP,,4042,445,84.46.250.2,LT,Lithuania,,,,56,24,None
33,3/3/13 22:48,groucho-oregon,1989170793,TCP,,6000,3306,118.144.86.105,CN,China,Beijing Shi,11,,39.9289,116.3883,None
34,3/3/13 22:48,groucho-singapore,1033070424,TCP,,6000,135,61.147.103.88,CN,China,Jiangsu Sheng,32,,32.0617,118.7778,None
35,3/3/13 22:53,groucho-oregon,1032051418,TCP,,6000,1433,61.131.218.218,CN,China,Jiangxi Sheng,36,,28.55,115.9333,None
36,3/3/13 22:54,groucho-singapore,3702892700,TCP,,6000,1433,220.181.168.156,CN,China,Beijing Shi,11,,39.9289,116.3883,None
37,3/3/13 22:55,groucho-us-east,1729413584,TCP,,4853,445,103.20.193.208,HK,Hong Kong,,,,22.25,114.1667,None
38,3/3/13 22:55,groucho-us-east,1729413584,TCP,,4853,445,103.20.193.208,HK,Hong Kong,,,,22.25,114.1667,None
39,3/3/13 22:55,groucho-us-east,1729413584,TCP,,4853,445,103.20.193.208,HK,Hong Kong,,,,22.25,114.1667,None
40,3/3/13 22:55,groucho-oregon,1017972899,TCP,,6000,8080,60.173.8.163,CN,China,Anhui Sheng,34,,31.8639,117.2808,None
41,3/3/13 22:55,groucho-norcal,3323217250,TCP,,47660,80,198.20.69.98,US,United States,Illinois,IL,60661,41.8825,-87.6441,None
42,3/3/13 22:56,groucho-tokyo,3658882522,TCP,,6000,1433,218.22.29.218,CN,China,Anhui Sheng,34,,31.8639,117.2808,None
43,3/3/13 22:56,groucho-oregon,2009021408,TCP,,6000,1433,119.191.59.224,CN,China,Shandong Sheng,37,,36.6683,116.9972,None
44,3/3/13 22:58,groucho-singapore,1033071474,TCP,,6000,135,61.147.107.114,CN,China,Jiangsu Sheng,32,,32.0617,118.7778,None
45,3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,None
46,3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,None
47,3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,None
48,3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,None
49,3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,None
50,3/3/13 23:01,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,None
51,3/3/13 23:01,groucho-eu,2148114514,ICMP,8,,,128.9.160.82,US,United States,California,CA,90292,33.9777,-118.4351,None
52,3/3/13 23:01,groucho-eu,2148114514,ICMP,8,,,128.9.160.82,US,United States,California,CA,90292,33.9777,-118.4351,None
53,3/3/13 23:02,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,None
54,3/3/13 23:02,groucho-tokyo,1199028690,UDP,,57520,20029,71.119.185.210,US,United States,California,CA,91786,34.104,-117.6642,None

In [23]:
def cgpt_reply(org,key,
                    role_player,
                    request_content,
                   file_name='database_tutor.txt'):
    openai.organization = org
    openai.api_key= key
    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        temperature = 0,
        messages=[
            {"role": "system", 
             "content": f"You are a {role_player}"},
            {"role": "assistant", 
             "content": f"I have assumed the role of {role_player}"},
            {"role": "user", 
             "content": f"Here is the dataset {request_content}."}
            ]
        )
    with open(file_name,'a+') as sumry:
        sumry.write(f'Completion for \n {request_content}')
        sumry.write('******Completion starts****** \n')
        sumry.write(str(response['choices'][0]['message']['content']))
        sumry.write('*****Completion ends****** \n')
    return response['choices'][0]['message']['content']

In [24]:
cgpt_resp1 = cgpt_reply(org=openai_org, key=openai_key, 
                 role_player=get_role, request_content=prompt_made)

In [25]:
print(cgpt_resp1)

1. To create a database table for this dataset in Postgres Database, we can use the following SQL command:

CREATE TABLE dataset (
    datetime TIMESTAMP,
    host VARCHAR(50),
    src BIGINT,
    proto VARCHAR(10),
    type VARCHAR(10),
    spt INT,
    dpt INT,
    srcstr VARCHAR(50),
    cc VARCHAR(10),
    country VARCHAR(50),
    locale VARCHAR(50),
    localeabbr VARCHAR(10),
    postalcode VARCHAR(10),
    latitude FLOAT,
    longitude FLOAT
);

2. To load the data from the CSV file into the newly created table, we can use the following command:

COPY dataset FROM '/path/to/dataset.csv' DELIMITER ',' CSV HEADER;

This assumes that the CSV file is located at '/path/to/dataset.csv' and that the columns are separated by commas and have a header row.

3. To normalize the table to 3rd normal form, we can split the table into three separate tables:

Table 1: hosts
- host_id (primary key)
- host_name

Table 2: locations
- location_id (primary key)
- country
- locale
- localeabbr
- postalcode
- latitude
- longitude

Table 3: connections
- connection_id (primary key)
- datetime
- host_id (foreign key to hosts table)
- src
- proto
- type
- spt
- dpt
- srcstr
- cc
- location_id (foreign key to locations table)

The schema for the normalized tables would be as follows:

CREATE TABLE hosts (
    host_id SERIAL PRIMARY KEY,
    host_name VARCHAR(50)
);

CREATE TABLE locations (
    location_id SERIAL PRIMARY KEY,
    country VARCHAR(50),
    locale VARCHAR(50),
    localeabbr VARCHAR(10),
    postalcode VARCHAR(10),
    latitude FLOAT,
    longitude FLOAT
);

CREATE TABLE connections (
    connection_id SERIAL PRIMARY KEY,
    datetime TIMESTAMP,
    host_id INT REFERENCES hosts(host_id),
    src BIGINT,
    proto VARCHAR(10),
    type VARCHAR(10),
    spt INT,
    dpt INT,
    srcstr VARCHAR(50),
    cc VARCHAR(10),
    location_id INT REFERENCES locations(location_id)
);

### Getting DBA Administered

In [26]:
prompt_for_dba = """I have to administer the postgres database inside
AWS EC2 instance. Provide me the step by step process I need to take 
for installing, configuring, and the connecting to the Postgres instance."""

In [27]:
cgpt_resp2 = cgpt_reply(org=openai_org,key=openai_key,
                       role_player=get_role,
                        request_content=prompt_for_dba)

In [30]:
print(cgpt_resp2)

Sure, here are the step-by-step instructions for installing, configuring, and connecting to a Postgres instance on an AWS EC2 instance:

1. Launch an EC2 instance: First, launch an EC2 instance on AWS and select the appropriate operating system. For this example, we will use Amazon Linux 2.

2. Install Postgres: Once the instance is launched, connect to it using SSH and run the following command to install Postgres:

   ```
   sudo amazon-linux-extras install postgresql11
   ```

3. Configure Postgres: After installing Postgres, you need to configure it. Run the following command to initialize the database cluster:

   ```
   sudo postgresql-setup initdb
   ```

   This will create the necessary directories and files for the Postgres database.

4. Start Postgres: Once the database cluster is initialized, start the Postgres service using the following command:

   ```
   sudo systemctl start postgresql
   ```

5. Enable Postgres: To ensure that Postgres starts automatically on system boot, run the following command:

   ```
   sudo systemctl enable postgresql
   ```

6. Create a new user: By default, Postgres creates a user called "postgres". However, it is recommended to create a new user for security reasons. To create a new user, run the following command:

   ```
   sudo -u postgres createuser --interactive
   ```

   Follow the prompts to create a new user.

7. Create a new database: Once the user is created, you can create a new database using the following command:

   ```
   sudo -u postgres createdb mydatabase
   ```

   Replace "mydatabase" with the name of your database.

8. Connect to the database: To connect to the database, use the following command:

   ```
   psql -U myuser -d mydatabase -h localhost
   ```

   Replace "myuser" with the name of the user you created and "mydatabase" with the name of your database.

That's it! You should now be able to connect to your Postgres instance on your AWS EC2 instance.

In [31]:
prompt_corrected = """Small correction. I have to install and connect to 
postgres database in ubuntu linux instance in EC2.Please provide 
the steps for doing"""

In [32]:
cgpt_resp3 = cgpt_reply(org=openai_org,key=openai_key,
                       role_player=get_role,
                        request_content=prompt_corrected)

In [33]:
print(cgpt_resp3)

Sure, here are the steps to install and connect to a PostgreSQL database in an Ubuntu Linux instance on EC2:

1. Launch an EC2 instance with Ubuntu Linux as the operating system.
2. Connect to the instance using SSH.
3. Update the package list by running the following command:

   ```
   sudo apt-get update
   ```

4. Install PostgreSQL by running the following command:

   ```
   sudo apt-get install postgresql postgresql-contrib
   ```

5. Once the installation is complete, start the PostgreSQL service by running the following command:

   ```
   sudo service postgresql start
   ```

6. By default, PostgreSQL creates a user called "postgres" with administrative privileges. Switch to the "postgres" user by running the following command:

   ```
   sudo su - postgres
   ```

7. Create a new database user by running the following command:

   ```
   createuser --interactive
   ```

   Follow the prompts to create a new user with the desired name and privileges.

8. Create a new database by running the following command:

   ```
   createdb <database_name>
   ```

   Replace `<database_name>` with the desired name for the new database.

9. Exit the "postgres" user by running the following command:

   ```
   exit
   ```

10. Connect to the PostgreSQL database using the new user and database by running the following command:

    ```
    psql -U <username> -d <database_name>
    ```

    Replace `<username>` with the name of the new user created in step 7 and `<database_name>` with the name of the new database created in step 8.

That's it! You should now be connected to the PostgreSQL database and ready to start working with your data.

### Lets check memory

In [40]:
prompt_star = """Thanks I will try that out. Refer to the 
tables hosts, locations and connections and create a star schema and
provide the sql query"""

In [36]:
cgpt_resp4 = cgpt_reply(org=openai_org,key=openai_key,
                       role_player=get_role,
                        request_content=prompt_star)

In [37]:
print(cgpt_resp4)

Sure, I can help you with that.

First, let's define the star schema for the given tables:

- Fact table: connections
- Dimension tables: hosts, locations

The connections table will be the fact table as it contains the measures (connection_id, connection_time) and foreign keys to the dimension tables (host_id, location_id). The hosts and locations tables will be the dimension tables as they contain the attributes related to the hosts and locations.

Here is the SQL query to create the star schema:

```
CREATE TABLE hosts_dim (
    host_id INT PRIMARY KEY,
    host_name VARCHAR(50),
    host_type VARCHAR(50),
    host_location_id INT,
    FOREIGN KEY (host_location_id) REFERENCES locations_dim(location_id)
);

CREATE TABLE locations_dim (
    location_id INT PRIMARY KEY,
    location_name VARCHAR(50),
    location_city VARCHAR(50),
    location_state VARCHAR(50)
);

CREATE TABLE connections_fact (
    connection_id INT PRIMARY KEY,
    connection_time DATETIME,
    host_id INT,
    location_id INT,
    FOREIGN KEY (host_id) REFERENCES hosts_dim(host_id),
    FOREIGN KEY (location_id) REFERENCES locations_dim(location_id)
);
```

And here is an example SQL query to retrieve data from the star schema:

```
SELECT
    l.location_name,
    h.host_name,
    COUNT(c.connection_id) AS num_connections,
    SUM(DATEDIFF(MINUTE, c.connection_time, GETDATE())) AS total_connection_time
FROM
    connections_fact c
    JOIN hosts_dim h ON c.host_id = h.host_id
    JOIN locations_dim l ON c.location_id = l.location_id
GROUP BY
    l.location_name,
    h.host_name;
```

This query retrieves the number of connections and total connection time for each host in each location. You can modify the query to retrieve other measures and dimensions as needed.

In [39]:
prompt_queries = """Thanks I will try that schema. Kindly provide me 
3 SQL DML queries that uses the hosts_dim, locations_dim and 
connection_fact tables"""

In [43]:
cgpt_reply5 = cgpt_reply(org=openai_org,key=openai_key,
                       role_player=get_role,
                        request_content=prompt_queries)

In [44]:
print(cgpt_reply5)

Sure, here are three SQL DML queries that use the hosts_dim, locations_dim, and connection_fact tables:

1. Query to retrieve the total number of connections made by each host in a specific location:

```
SELECT h.hostname, l.location, COUNT(*) AS total_connections
FROM hosts_dim h
JOIN connection_fact c ON h.host_id = c.host_id
JOIN locations_dim l ON c.location_id = l.location_id
WHERE l.location = 'New York'
GROUP BY h.hostname, l.location;
```

2. Query to retrieve the average connection duration for each host in a specific location:

```
SELECT h.hostname, l.location, AVG(c.duration) AS avg_duration
FROM hosts_dim h
JOIN connection_fact c ON h.host_id = c.host_id
JOIN locations_dim l ON c.location_id = l.location_id
WHERE l.location = 'San Francisco'
GROUP BY h.hostname, l.location;
```

3. Query to retrieve the top 5 hosts with the highest number of connections:

```
SELECT h.hostname, COUNT(*) AS total_connections
FROM hosts_dim h
JOIN connection_fact c ON h.host_id = c.host_id
GROUP BY h.hostname
ORDER BY total_connections DESC
LIMIT 5;
```